body {
    margin-top: 20px;
    background: #f8f8f8
}

.table td, .table th{
    padding: .5rem;
}

.table thead th{
    vertical-align: top;
}

.hidden{
    display: none !important;
}

.blue{
    color: rgb(42, 148, 151);
}

.yellow{
    color: rgb(255, 201, 0);
}

h6:not(.mr-2){
    font-size: .9em !important;
}

@media (min-width: 992px){
    .container {
        max-width: 94%;
    }
}